*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}
body{
    background-color: rgb(223, 223, 223);
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.logo h1{
    padding-top: 20px;
    font-family: 'Overpass', sans-serif;
    color: rgb(36, 163, 36);
    cursor: pointer;
    transition: 0.6s;
    padding-left: 20px;
}

header{
    width: 100%;
    height: 120px;
    background-color: rgb(111, 223, 121);
}

/* ---------------- */
/* Menu do header*/
/* ---------------- */

.mobile-menu{
    display: none;
}

.desktop-menu{
    float: right;
}

.desktop-menu  a{
    text-decoration: none;
    padding: 22px;
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}

.desktop-menu a:hover{
    background-color: rgba(49, 189, 79, 0.459);
}

.desktop-menu li{
    list-style-type: none;
    margin-top: -40px;
   
}


/* ---------------- */
/* section da loja */
/* ---------------- */

.navbar{
    width: 100%;
    height: 500px;
    background-color: rgb(111, 223, 121) ;
}

.text-table > h1{
  padding-top: 100px;
  font-size: 60px;
  line-height: 80px;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
}

.render img{

    width: 370px;
    float: right;
    position: relative;
    bottom: 370px;
    left: 60px;
   
}

.minecraft{
    width: 17%;
    height: 50px;
    background-color: rgb(23, 194, 23);
    position: relative;
    left: 37%;
    border-radius: 10px;
    bottom: 25px;
    -webkit-box-shadow: 2px 5px 9px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px 5px 9px -1px rgba(0,0,0,0.31);
    box-shadow: 2px 5px 9px -1px rgba(0,0,0,0.31);
}

.minecraft h1{
    text-align: center;
    padding-top: 12px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

/* ---nav-vitrine- */

.nav-vitrine{
    width: 28%;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.637);
    -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
    box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
    border-radius: 5px;
    margin-left: 50px;
    float: left;
    margin-top: 130px;
}

.nav-vitrine p{
    padding: 20px;
    line-height: 23px;
    color: #212529;
}
.nav-vitrine1 P{
    padding: 20px;
    line-height: 30px;
    color: #212529;
}

.nav-vitrine1{
    width: 28%;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.637);
    -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
    box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
    border-radius: 5px;
    float: right;
    position: relative;
    bottom: 223px;
    right: 30px;
}

.nav-vitrine img{
    width: 200px;
    position: relative;
    left: 13%;

}


.footer{
    width: 100%;
    height: 120px;
    background-color: rgb(25, 168, 25);
}

.img2{
    position: relative;
    right: 20px;
}

.img3{
    position: relative;
    left: 36px;
}

.box-footer h1{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.box-footer a{
    text-decoration: none;
    color: rgb(4, 99, 4)
}

.box-footer p{
    text-align: center;
    padding-top: 20px;
    color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

.img10{
    display: none;
}

.message10{
    display: none;
    
}

.message11{
    display: none;
}

.img11{
    display: none;
}

.message12{
    display: none;
}

.img12{
    display: none;
}

.img20{
    display: none;
}

.message20{
    display: none;
    
}

.message21{
    display: none;
}

.img21{
    display: none;
}

.message22{
    display: none;
}

.img22{
    display: none;
}

.navbtn1{
    margin-top: 8px;
}
.navbtn1 a{
    position: relative;
    bottom: 200px;
    left: 155px;
    padding: 16px;
    text-decoration: none;
    background-color: rgb(14, 168, 14);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: white;
}

.navbtn2 a{

    position: relative;
    bottom: 200px;
    left: 46%;
    padding: 16px;
    text-decoration: none;
    background-color: rgb(14, 168, 14);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: white;
}

.navbtn2 {
    margin-top: -18px;
}

.navbtn3 a{
    position: relative;
    bottom: 200px;
    left: 79%;
    padding: 16px;
    text-decoration: none;
    background-color: rgb(14, 168, 14);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: white;
    
}

.navbtn3{
    margin-top: -18px;
}

.navbtn10{
    display: none;
}

.navbtn11{
    display: none;
}

.navbtn12{
    display: none;
}

.navbtn20{
    display: none;
}

.navbtn21{
    display: none;
}

.navbtn22{
    display: none;
}
@media screen and (max-width: 774px) {

    .logo{
        text-align: center;
    }

   .desktop-menu{
       padding-top: 70px;
       padding-right: 75px;
   }
    .minecraft{
        position: relative;
        top: 20px;
        left: 30%;
    }

    .nav-vitrine3{
        
        width: 70%;
        height: 600px;
        margin-top: 60px;
        background-color: rgba(255, 255, 255, 0.637);
        -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
        box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
        border-radius: 5px;
        position: relative;
        left: 50px;
        float: none;
        margin-left: 40px;
    }

    .nav-vitrine2{
        display: none;
    }
    
    .img20{
        display: block;
        width: 200;
        position: relative;  
        left: 17%;
    }

    .message20{
        display: block;
        padding:20px;
        line-height: 30px;
    }

    .img21{
        display: block;
        position: relative;  
        left: 17%;
    }

    .message21{
        display: block;
        padding:20px;
        line-height: 30px;
    }

    .img22{
        display: block;
        position: relative;  
        left: 17%;
    }

    .message22{
        display: block;
        padding:20px;
        line-height: 30px;
    }

    .navbtn1{
        display: none;
    }

    .navbtn2{
        display: none;
    }

    .navbtn3{
        display: none;
    }

    .navbtn11 a{
        display: none;
    }

    .navbtn12 a{
        display: none;
    }
    
    .navbtn10 a{
        display: none;
    }

    .navbtn20{
        display: block;
    }

    .navbtn20 a{
        position: relative;
        bottom: 660px;
        left: 43%;
        padding: 16px;
        text-decoration: none;
        background-color: rgb(14, 168, 14);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;

    }

    .navbtn21{
        display: block;
    }

    .navbtn21 a{
        position: relative;
        bottom: 1335px;
        left: 43%;
        padding: 16px;
        text-decoration: none;
        background-color: rgb(14, 168, 14);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;

    }

    .navbtn22{
        display: block;
    }

    .navbtn22 a{
        position: relative;
        bottom: 35px;
        left: 43%;
        padding: 16px;
        text-decoration: none;
        background-color: rgb(14, 168, 14);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;

    }
}

@media screen and (max-width: 1086px){
   
    .nav-vitrine, .nav-vitrine1{
        display: none;

    }

    .nav-vitrine2{
        width: 30%;
        height: 600px;
        margin-top: 100px;
        background-color: rgba(255, 255, 255, 0.637);
        -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
        box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.45);
        border-radius: 5px;
        position: relative;
        float: left;
        margin-left: 40px;
        
    }

    .box-footer h1{
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    
    .box-footer a{
        text-decoration: none;
        color: rgb(4, 99, 4)
    }
    .box-footer{
        margin-top: 80px;
    }
    
    .box-footer p{
        text-align: center;
        padding-top: 20px;
        color: rgb(233, 233, 233);
        font-family: Arial, Helvetica, sans-serif;
    }
    .text-table h1{
        text-align: center;

    }

    .render img{
        display: none;
    }

    .minecraft{
        margin-left: 70px;
    }

    .img10{
        display: block;
        width: 200px;
        position: relative;
        left: 13%;
    }

    .message10{
        display: block;
        padding: 20px;
        line-height: 30px;
        color:#212529 ;
        
    }

    .message11{
        display: block;
        padding: 20px;
        line-height: 30px;
        color:#212529 ;
    }
 
    .img11{
        display: block;
        position: relative;
        left: 35px;
    }

    .message12{
        display: block;
        padding: 20px;
        line-height: 30px;
        color:#212529 ;
    }
 
    .img12{
        display: block;
        position: relative;
        left: 35px;
    }

    .navbtn1{
        display: none;
    }

    .navbtn2{
        display: none;
    }

    .navbtn3{
        display: none;
    }

    .navbtn10 a{
        position: relative;
        bottom: 660px;
        left: 13%;
        padding: 16px;
        text-decoration: none;
        background-color: rgb(14, 168, 14);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;
        
    }


    .navbtn11 a{

        position: relative;
        bottom: 660px;
        left: 47%;
        padding: 16px;
        text-decoration: none;
        background-color: rgb(14, 168, 14);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;
    }

    .navbtn11{
        margin-top: -13px;
        display: block;
       
    }
   
    .navbtn12{
        display: block;
    }

    .navbtn10{
        display: block;
    }
    
    .navbtn12 a{
        position: relative;
        top: 20px;
        left: 13%;
        padding: 16px;
        text-decoration: none;
        background-color: rgb(14, 168, 14);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;
    }

}